{% macro render_field(field, extra_label_html="", label=True) %}
<div class="row">
  <div class="small-12 columns">
    <label>
      {% if field.type == "BooleanField" %}
        {{ field(**kwargs)|safe }} {{ field.label }}
      {% elif field.type == "FieldList" %}
        <fieldset>
          <legend>{{ field.label }}</legend>
          {% for item in field %}
            {{ item(**kwargs)|safe }}
          {% endfor %}
        </fieldset>
      {% elif field.type == "FormField" %}
        {% for item in field %}
          {{ item(**kwargs)|safe }}
        {% endfor %}
      {% else %}
        {% if label %}{{ field.label }}{% endif %}
        {{ extra_label_html|safe }}
        {{ field(**kwargs)|safe }}
      {% endif %}
    </label>
    {% if field.errors %}
    <small class="error">{{ ", ".join(field.errors) }}</small>
    {% endif %}
  </div>
</div>
{% endmacro %}
