{% extends "layout.html" %}


{% block body %}
  {% with accountactive="active" %}
    {% if user.admin %}
      {% include "admin-menu.html" %}
    {% else %}
      {% include "user-menu.html" %}
    {% endif %}

  <section id="content">
    {% include "flash.html" %}
    <div class="row">
      <div class="small-2 columns">
        <ul class="side-nav">
          <li class="active">
            <a href="{{ url_for('.change_password_user') }}">Password</a>
          </li>
          <li>
            <a href="{{ url_for('.tokens') }}">Tokens</a>
          </li>
        </ul>
      </div>
      <div class="small-8 small-centered columns">
        <h2> Change Password </h2>
        <form action="{{ url_for('.new_password_user') }}" method="POST">
          <label>New Password</label>
          <input name="new_pass" placeholder="" type="password"/>
          <label>Confirm Password</label>
          <input name="new_pass_confirm" placeholder="" type="password"/>
          <input class="button small" type="submit" value="Change password"/>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="small-8 small-centered columns">
        <h2> Add/Modify SSH Public Key </h2>
        <form action="{{ url_for('.change_sshkey_user') }}" method="POST">
          <label>SSH Key
             <textarea name="ssh_key" rows="10" style="width: 100%;">{{ user.ssh_key }}</textarea>
          </label>
          <input class="button small" type="submit" value="Save"/>
        </form>
      </div>
    </div>
  </section>
  {% endwith %}
{% endblock %}
