{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
  {% with machineactive="active" %}
    {% if user.admin %}
      {% include "admin-menu.html" %}
    {% else %}
      {% include "user-menu.html" %}
    {% endif %}

  <section id='content'>
    {% include "flash.html" %}
    <div class="row">
      <div class="small-12 small-centered columns">
        <nav class="breadcrumbs">
          <a href="{{ url_for('.get_machines_admin') }}">Machines</a>
          <a href="{{ url_for('.machine_admin', id=m.id) }}">{{ m.name }}</a>
        </nav>
      </div>
    </div>
    <div class="row" style="margin-top: 1em;">
      <div class="small-12 small-centered columns">
      <div class="row">
        <div class="small-6 columns tabular">
          <div class="row">
            <div class="small-4 columns">
              <b>Name</b>
            </div>
            <div class="small-8 columns">
              {{ m.name }}
            </div>
          </div>
        </div>
        <div class="small-6 columns tabular">
          <div class="row">
            <div class="small-4 columns">
              <b>Power state</b>
            </div>
            <div class="small-8 columns">
              {{ m.power_state }}
            </div>
          </div>

          <div class="row">
            <div class="small-4 columns">
              <b>BMC</b>
            </div>
            <div class="small-8 columns">
              {% if m.bmc %}
                {% if user.admin %}
                  <a href="{{ url_for('.bmc_admin', id=m.bmc_id) }}">{{ m.bmc.ip }}</a>
                  &nbsp;
                  <a href="http://{{ m.bmc.ip }}">(access BMC<i class="fa fa-external-link" style="margin-left: 0.3em; margin-right: 2px;"></i>)</a>
                {% else %}
                  <a href="http://{{ m.bmc.ip }}">{{ m.bmc.ip }}</a>
                {% endif %}
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="small-4 columns">
              <b>BMC Info</b>
            </div>
            <div class="small-8 columns">
              {{ m.bmc_info }}
            </div>
          </div>
        </div>
      </div>
      {% if user.admin %}
      <hr/>
      <div class="row">
        <div class="small-6 columns tabular">
          <div class="row">
            <div class="small-4 columns">
              <b>PDU</b>
            </div>
            <div class="small-8 columns">
              {{ m.pdu }}
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <b>PDU port</b>
            </div>
            <div class="small-8 columns">
              {{ m.pdu_port if m.pdu_port }}
            </div>
          </div>
        </div>
        <div class="small-6 columns tabular">
          <div class="row">
            <div class="small-4 columns">
              <b>Serial</b>
            </div>
            <div class="small-8 columns">
              {{ m.serial }}
            </div>
          </div>

          <div class="row">
            <div class="small-4 columns">
              <b>Serial port</b>
            </div>
            <div class="small-8 columns">
              {{ m.serial_port if m.serial_port }}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <hr/>
      <div class="row">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>MAC</th>
              <th>Reserved IPv4</th>
              <th>Lease IPv4</th>
              <th>Last seen</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for interface in m.interfaces %}
              <tr>
                <td>{{ interface.identifier if interface.identifier else "" }}</td>
                <td>{{ interface.mac }}</td>
                <td>{{ interface.static_ipv4 if interface.static_ipv4 else "" }}</td>
                <td>{{ interface.lease.ipv4 if interface.lease else "" }}</td>
                <td>{{ interface.lease.last_seen if interface.lease else "" }}</td>
                <td>
                  {% if user.admin or (m.assignment and (user.id==m.user.id)) %}
                    <a href="#" class="button tiny" style="margin-bottom: 0px;" data-reveal-id="edit-interface-{{ interface.id }}-modal"><i class="fa fa-edit" aria-hidden="true"></i></a>
                  {% endif %}

                  {% if user.admin %}
                    <a href="#" class="button tiny alert" style="margin-bottom: 0px;"  data-reveal-id="delete-interface-{{ interface.id }}-modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        <table>

        {% if user.admin %}
          <a class="button tiny" data-reveal-id="create-interface-modal" href=""#"">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        {% endif %}
      </div>

      <hr/>
      <div class="row">
        <div class="small-6 columns tabular">
          <div class="row">
            <div class="small-4 columns">
              <b>Kernel</b>
            </div>
            <div class="small-8 columns">
              {% if m.kernel %}
                <a href="{{ url_for('.get_image_admin', id=m.kernel.id) }}">
                  {{ m.kernel.description }} ({{ m.kernel.filename }})
                </a>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <b>Kernel opts</b>
            </div>
            <div class="small-8 columns">
              {{ m.kernel_opts }}
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <b>Netboot enabled?</b>
            </div>
            <div class="small-8 columns">
              {% if m.netboot_enabled %}
              <input type="checkbox" readonly disabled checked/>
              {% else %}
              <input type="checkbox" readonly disabled/>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="small-6 columns tabular">
          <div class="row">
            <div class="small-4 columns">
              <b>Initrd</b>
            </div>
            <div class="small-8 columns">
              {% if m.initrd %}<a href="{{ url_for('.get_image_admin', id=m.initrd.id) }}">{{ m.initrd.description }} ({{ m.initrd.filename }}){% endif %}</a>
            </div>
          </div>

          <div class="row">
            <div class="small-4 columns">
              <b>Preseed</b>
            </div>
            <div class="small-8 columns">
              {% if m.preseed_id %}<a href="{{ url_for('.get_preseed_admin', id=m.preseed_id) }}">{{ m.preseed.description }} ({{ m.preseed.filename }}){% endif %}</a>
            </div>
          </div>
        </div>
      </div>

      <fieldset>
        <p>
        <b>Assigned to:</b>
        {% if m.assignment %}
        {{ m.user.username }}
        </p>
        <p> <b>Reason:</b> {{ m.assignment.reason }} </p>
        <p> <b>Since:</b> {{ m.assignment.start_date.strftime("%Y-%m-%d") }} </p>
        {% else %}
        No one</p>
        {% endif %}
      </fieldset>

      {% if user.admin or (m.assignment and (user.id==m.user.id)) %}
      <div class="row">
        <div class="small-3 small columns">
          <a class="button" data-reveal-id="edit-modal" href="#">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </a>
          {%- if user.admin %}
            <a class='button alert' data-reveal-id='delete-modal' href='#'>
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
	  {% endif -%}
        </div>
        <div class="small-4 small columns">
          <a class="button secondary" href="{{url_for('.reboot_machine', id=m.id)}}">
              Reboot
          </a>
          <a class="button secondary" href="{{url_for('.pxe_reboot_machine', id=m.id)}}" alt="Reboot">
            PXE-boot</i>
          </a>
        </div>
        <div class="small-3 small columns end">
          <a class="button secondary" title="Force disconnect console" href="{{url_for('.reset_console', id=m.id)}}">
              <i class="fa fa-plug" aria-hidden="true"></i>
          </a>
          <a class="button secondary" title="Open console" href="{{url_for('.get_console', id=m.id)}}">
              <i class="fa fa-desktop" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div aria-hidden="true" class="reveal-modal small" data-reveal id="delete-modal" role="dialog">
        <h2> Confirm deletion</h2>
        <form action="{{ url_for('.delete_machine', id=m.id) }}" method="POST">
          <div class="row">
            <p>Are you sure you want to delete machine <b>{{ m.name }}</b> and all associated data?</p>
          </div>
          <div class="row">
            <input class="button alert" type="submit" value="Delete Machine"/>
          </div>
        </form>
      </div>
      {% endif %}
      <div aria-hidden="true" class="reveal-modal medium" data-reveal id="edit-modal" role="dialog">
        <h2> Edit Machine - {{ m.name }} </h2>
        <form action="{{ url_for('.machine_admin', id=m.id) }}" method="POST">
        {% if user.admin %}
        {{ render_field(form.name) }}
        {{ render_field(form.bmc_id, style="width: 100%;") }}
        {{ render_field(form.bmc_info) }}
        {{ render_field(form.pdu) }}
        {{ render_field(form.pdu_port) }}
        {{ render_field(form.serial) }}
        {{ render_field(form.serial_port) }}
        {% endif %}
        {{ render_field(form.kernel_id, style="width: 100%;") }}
        {{ render_field(form.kernel_opts) }}
        {{ render_field(form.initrd_id, style="width: 100%;") }}
        {{ render_field(form.preseed_id, style="width: 100%;") }}
        {{ render_field(form.netboot_enabled) }}
        <div class="row">
        {% if user.admin %}
          <fieldset>
            <legend> Assign to </legend>
            {{ render_field(form.assignee.user_id, style="width: 100%;") }}
            {{ render_field(form.assignee.reason) }}
          </fieldset>
	  {% endif %}
        <div class="row">
          <div class="small-12 columns">
              <center>
            <input class="button" name="button" value="Save Machine" type="submit">
            </center>
          </div>
        </div>
        </form>
        </div>
      </div>

      {% for intf in m.interfaces %}
      <div aria-hidden="true" class="reveal-modal medium" data-reveal id="edit-interface-{{ intf.id }}-modal" role="dialog">
        <form action="{{ url_for('.interface_edit', id=intf.id) }}" method="POST">
        {% if user.admin %}
          {{ render_field(form_intf[intf.id].mac) }}
        {% endif %}
        {{ render_field(form_intf[intf.id].identifier) }}
        {{ render_field(form_intf[intf.id].reserved_ipv4) }}
        <div class="row">
          <div class="small-12 columns">
            <center>
              <input class="button" name="button" value="Save Interface" type="submit">
            </center>
          </div>
        </div>
        </form>
      </div>

      <div aria-hidden="true" class="reveal-modal small" data-reveal id="delete-interface-{{ intf.id }}-modal" role="dialog">
        <h2> Confirm deletion</h2>
        <form action="{{ url_for('.interface_delete', id=intf.id) }}" method="POST">
          <div class="row">
            <p>Are you sure you want to delete interface <b>{{ intf.mac }}</b> and all associated data?</p>
          </div>
          <div class="row">
            <input class="button alert" type="submit" value="Delete Interface"/>
          </div>
        </form>
      </div>
      {% endfor %}

      <div aria-hidden="true" class="reveal-modal medium" data-reveal id="create-interface-modal" role="dialog">
        <form action="{{ url_for('.machine_interface_create', id=m.id) }}" method="POST">
        {{ render_field(form_intf_new.mac) }}
        {{ render_field(form_intf_new.identifier) }}
        {{ render_field(form_intf_new.reserved_ipv4) }}
        <div class="row">
          <div class="small-12 columns">
            <center>
              <input class="button" name="button" value="Create Interface" type="submit">
            </center>
          </div>
        </div>
        </form>
      </div>

      </div>
 </section>
 <script>
   $("select[name='bmc_id']").select2({theme: "foundation"});
   $("select[name='kernel_id']").select2({theme: "foundation"});
   $("select[name='initrd_id']").select2({theme: "foundation"});
   $("select[name='preseed_id']").select2({theme: "foundation"});
   $("select[name='assignee-user_id']").select2({theme: "foundation"});
 </script>
  {% endwith %}
{% endblock %}
