{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
  {% with machineactive="active" %}
    {% if user.admin %}
      {% include "admin-menu.html" %}
    {% else %}
      {% include "user-menu.html" %}
    {% endif %}

  <section id='content'>
    {% include "flash.html" %}
    <div class="row">
      <div class="small-12 small-centered columns">
        <nav class="breadcrumbs">
          <a href="{{ url_for('.get_machines_admin') }}">Machines</a>
          <a href="{{ url_for('.machine_admin', id=m.id) }}">{{ m.name }}</a>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered columns">
      <h2>Manage {{ m.name }}</h2>
      <dl>
        <dt>Name</dt>
        <dd> {{ m.name }}</dd>
        <dt>Power state</dt>
        <dd> {{ m.power_state }}</dd>
        <dt>MAC</dt>
        <dd>{{ m.mac }}</dd>
        <dt>BMC</dt>
        <dd>{% if m.bmc %}
        {% if user.admin %}
        <a href="{{ url_for('.bmc_admin', id=m.bmc_id) }}">{{ m.bmc.ip }}</a>
          &nbsp;
          <a href="http://{{ m.bmc.ip }}">(access BMC<i class="fa fa-external-link" style="margin-left: 0.3em; margin-right: 2px;"></i>)</a>
          {% else %}
          <a href="http://{{ m.bmc.ip }}">{{ m.bmc.ip }}</a>
          {% endif %}
        {% endif %}</dd>
	<dt>BMC Info</dt>
	<dd>{{ m.bmc_info }}</dd>
	{% if user.admin %}
          <dt>PDU</dt>
          <dd>{{ m.pdu }}</dd>
          <dt>PDU port</dt>
          <dd>{{ m.pdu_port if m.pdu_port }}</dd>
          <dt>Serial</dt>
          <dd>{{ m.serial }}</dd>
          <dt>Serial serial_port</dt>
          <dd>{{ m.serial_port if m.serial_port }}</dd>
	{% endif %}
	<dt>Kernel</dt>
        <dd>{% if m.kernel %}<a href="{{ url_for('.get_image_admin', id=m.kernel.id) }}">{{ m.kernel.description }} ({{ m.kernel.filename }})</a>{% endif %}</dd>
        <dd></dd>
        <dt>Kernel opts</dt>
        <dd>{{ m.kernel_opts }}</dd>
        <dt>Initrd</dt>
        <dd>{% if m.initrd %}<a href="{{ url_for('.get_image_admin', id=m.initrd.id) }}">{{ m.initrd.description }} ({{ m.initrd.filename }}){% endif %}</a></dd>
        <dt>Preseed</dt>
        <dd>{% if m.preseed_id %}<a href="{{ url_for('.get_preseed_admin', id=m.preseed_id) }}">{{ m.preseed.description }} ({{ m.preseed.filename }}){% endif %}</a></dd>
        <dt>Netboot enabled?</dt>
        <dd>
           {% if m.netboot_enabled %}
             <input type="checkbox" readonly disabled checked/>
           {% else %}
             <input type="checkbox" readonly disabled/>
           {% endif %}
        </dd>
      </dl>

      <fieldset>
        <p> <b>Assigned to:</b>
           {% if m.assignment %}
           {{ m.user.username }} </p>
        <p> <b>Reason:</b> {{ m.assignment.reason }} </p>
        <p> <b>Since:</b> {{ m.assignment.start_date.strftime("%Y-%m-%d") }} </p>
          {% else %}
           No one</p>
          {% endif %}
        </dl>
      </fieldset>
      {% if user.admin or (m.assignment and (user.id==m.user.id)) %}
      <div class="row">
        <div class="small-3 small columns">
          <a class="button" data-reveal-id="edit-modal" href="#">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </a>
          {%- if user.admin %}
            <a class='button alert' data-reveal-id='delete-modal' href='#'>
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
	  {% endif -%}
        </div>
        <div class="small-4 small columns">
          <a class="button secondary" href="{{url_for('.reboot_machine', id=m.id)}}">
              Reboot
          </a>
          <a class="button secondary" href="{{url_for('.pxe_reboot_machine', id=m.id)}}" alt="Reboot">
            PXE-boot</i>
          </a>
        </div>
        <div class="small-3 small columns end">
          <a class="button secondary" title="Force disconnect console" href="{{url_for('.reset_console', id=m.id)}}">
              <i class="fa fa-plug" aria-hidden="true"></i>
          </a>
          <a class="button secondary" title="Open console" href="{{url_for('.get_console', id=m.id)}}">
              <i class="fa fa-desktop" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div aria-hidden="true" class="reveal-modal small" data-reveal id="delete-modal" role="dialog">
        <h2> Confirm deletion</h2>
        <form action="{{ url_for('.delete_machine', id=m.id) }}" method="POST">
          <div class="row">
            <p>Are you sure you want to delete machine <b>{{ m.name }}</b> and all associated data?</p>
          </div>
          <div class="row">
            <input class="button alert" type="submit" value="Delete Machine"/>
          </div>
        </form>
      </div>
      {% endif %}
      <div aria-hidden="true" class="reveal-modal medium" data-reveal id="edit-modal" role="dialog">
        <h2> Edit Machine - {{ m.name }} </h2>
        <form action="{{ url_for('.machine_admin', id=m.id) }}" method="POST">
        {% if user.admin %}
        {{ render_field(form.name) }}
        {{ render_field(form.mac) }}
        {{ render_field(form.bmc_id, style="width: 100%;") }}
        {{ render_field(form.bmc_info) }}
        {{ render_field(form.pdu) }}
        {{ render_field(form.pdu_port) }}
        {{ render_field(form.serial) }}
        {{ render_field(form.serial_port) }}
        {% endif %}
        {{ render_field(form.kernel_id, style="width: 100%;") }}
        {{ render_field(form.kernel_opts) }}
        {{ render_field(form.initrd_id, style="width: 100%;") }}
        {{ render_field(form.preseed_id, style="width: 100%;") }}
        {{ render_field(form.netboot_enabled) }}
        <div class="row">
        {% if user.admin %}
          <fieldset>
            <legend> Assign to </legend>
            {{ render_field(form.assignee.user_id, style="width: 100%;") }}
            {{ render_field(form.assignee.reason) }}
          </fieldset>
	  {% endif %}
        <div class="row">
          <div class="small-12 columns">
              <center>
            <input class="button" name="button" value="Save Machine" type="submit">
            </center>
          </div>
        </div>
      </form>
      </div>
        </div>
      </div>
 </section>
 <script>
   $("select[name='bmc_id']").select2({theme: "foundation"});
   $("select[name='kernel_id']").select2({theme: "foundation"});
   $("select[name='initrd_id']").select2({theme: "foundation"});
   $("select[name='preseed_id']").select2({theme: "foundation"});
   $("select[name='assignee-user_id']").select2({theme: "foundation"});
 </script>
  {% endwith %}
{% endblock %}
