{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
  {% with machineactive="active" %}
    {% if user.admin %}
      {% include "admin-menu.html" %}
    {% else %}
      {% include "user-menu.html" %}
    {% endif %}

  <section id="content">
    {% include "flash.html" %}
    <div class="row">
    <div class="small-12 small-centered columns">
      <h2> Machines </h2>
      <table id="machine-list">
        <thead aligned="center">
          <tr>
            <th>Name</th>
            <th>MAC</th>
            <th>BMC</th>
            {% if user.admin %}
              <th>PDU</th>
              <th>PDU port</th>
              <th>Serial</th>
              <th>Serial port</th>
            {% endif %}
            <th>Netboot</th>
            <th>Assigned</th>
          </tr>
        </thead>
        <tbody>
          {% for m in machines %}
            <tr>
              <td>
                <a href="{{ url_for('.machine_admin', id=m.id) }}">{{ m.name }}</a>
              </td>
              <td>
                {{ m.macs|join('\n') }}
              </td>
              <td>
                {% if m.bmc %}<a href="{{ url_for('.bmc_admin', id=m.bmc_id) }}">{{ m.bmc.ip }}</a>{% endif %}
              </td>
              {% if user.admin %}
                <td>
                  {{ m.pdu }}
                </td>
                <td>
                  {{ m.pdu_port if m.pdu_port }}
                </td>
                <td>
                  {{ m.serial }}
                </td>
                <td>
                  {{ m.serial_port if m.serial_port }}
                </td>
              {% endif %}
              <td>
                {% if m.netboot_enabled %}
                  <input type="checkbox" readonly disabled checked/>
                {% else %}
                  <input type="checkbox" readonly disabled/>
                {% endif %}
              </td>
              <td>
                {% if m.user %} {{ m.user.username }} {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if user.admin %}
      <a class="button" data-reveal-id="new-modal" href=""#"">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      <div aria-hidden="true" class="reveal-modal small" data-reveal id="new-modal" role="dialog">
        <h2> New Machine </h2>
        <form action="{{ url_for('.create_machines_admin') }}" method="POST">
        {{ render_field(form.name) }}
        <fieldset>
          <legend>MACs</legend>
          <ul id="macs-edit-list" class="no-bullet">
          {% for item in form.macs %}
            <li>
              <div class="row collapse">
                <div class="small-10 columns">
                  {{ render_field(item, label=False) }}
                </div>
                <div class="small-2 columns">
                  <a href="#" class="button postfix mac-remove">Remove</a>
                </div>
              </div>
            </li>
          {% endfor %}
          </ul>
          <a href="#" class="button small mac-add">Add</a>
          <script>
            $(function() {
              var templateHtml = $("#macs-edit-list").children().last().html();
              var incrId = $("#macs-edit-list").children().length;
              templateHtml = templateHtml.replace(/macs-\d+/g, "macs-{id}");

              function removeHandler(ev) {
                $(ev.target).parent().parent().parent().remove();
                ev.preventDefault();
              }

              $("#macs-edit-list").find(".mac-remove").click(removeHandler);

              $(".mac-add").off("click");
              $(".mac-add").click(function(ev) {
                var newItem = $('<li></li>').html(templateHtml.replace(/\{id\}/g, "" + incrId++));
                $(newItem).find(".mac-remove").click(removeHandler);
                $("#macs-edit-list").append(newItem);
                ev.preventDefault();
              });
            });
          </script>
        </fieldset>
        {{ render_field(form.bmc_id, style="width: 100%;") }}
        {{ render_field(form.bmc_info) }}
        <div class="row">
          <div class="small-12 columns">
              <center>
            <input class="button" name="button" value="Save Machine" type="submit">
            </center>
          </div>
        </div>
      </form>
      {% endif %}
      </div>
        </div>
    </div>
    <script>
      $("#machine-list").dataTable({
        "lengthMenu": [[25, 50, -1],[25, 50, "All"]],
        "aoColumns": [
          null,
          null,
          null,
          {%- if user.admin %}
          null,
          null,
          null,
          null,
          {% endif -%}
          {"orderDataType": "dom-text", type: 'string'},
          null,
        ]
      });
      $("select[name='bmc_id']").select2({theme: "foundation"});
      $("select[name='preseed_id']").select2({theme: "foundation"});
      $("select[name='kernel_id']").select2({theme: "foundation"});
      $("select[name='initrd_id']").select2({theme: "foundation"});
    </script>
  </section>
  {% endwith %}
{% endblock %}
