{% extends "layout.html" %}


{% block body %}
  {% with machineactive="active" %}
    {% if user.admin %}
      {% include "admin-menu.html" %}
    {% else %}
      {% include "user-menu.html" %}
    {% endif %}

  <section id='content'>
    {% include "flash.html" %}
    <div class="row">
      <div class="small-12 small-centered columns">
        <nav class="breadcrumbs">
          <a href="{{ url_for('.get_machines_admin') }}">Machines</a>
          <a href="{{ url_for('.get_machine_admin', id=m.id) }}">{{ m.name }}</a>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered columns">
      <h2>Manage {{ m.name }}</h2>
      <dl>
        <dt>Name</dt>
        <dd> {{ m.name }}</dd>
        <dt>Power state</dt>
        <dd> {{ m.power_state }}</dd>
        <dt>MAC</dt>
        <dd>{{ m.mac }}</dd>
        <dt>BMC</dt>
        <dd>{% if m.bmc %}
        {% if user.admin %}
        <a href="{{ url_for('.bmc_admin', id=m.bmc_id) }}">{{ m.bmc.ip }}</a>
          &nbsp;
          <a href="http://{{ m.bmc.ip }}">(access BMC<i class="fa fa-external-link" style="margin-left: 0.3em; margin-right: 2px;"></i>)</a>
          {% else %}
          <a href="http://{{ m.bmc.ip }}">{{ m.bmc.ip }}</a>
          {% endif %}
        {% endif %}</dd>
	<dt>BMC Info</dt>
	<dd>{{ m.bmc_info }}</dd>
	{% if user.admin %}
          <dt>PDU</dt>
          <dd>{{ m.pdu }}</dd>
          <dt>PDU port</dt>
          <dd>{{ m.pdu_port if m.pdu_port }}</dd>
          <dt>Serial</dt>
          <dd>{{ m.serial }}</dd>
          <dt>Serial serial_port</dt>
          <dd>{{ m.serial_port if m.serial_port }}</dd>
	{% endif %}
	<dt>Kernel</dt>
        <dd>{% if m.kernel %}<a href="{{ url_for('.get_image_admin', id=m.kernel.id) }}">{{ m.kernel.description }} ({{ m.kernel.filename }})</a>{% endif %}</dd>
        <dd></dd>
        <dt>Kernel opts</dt>
        <dd>{{ m.kernel_opts }}</dd>
        <dt>Initrd</dt>
        <dd>{% if m.initrd %}<a href="{{ url_for('.get_image_admin', id=m.initrd.id) }}">{{ m.initrd.description }} ({{ m.initrd.filename }}){% endif %}</a></dd>
        <dt>Preseed</dt>
        <dd>{% if m.preseed_id %}<a href="{{ url_for('.get_preseed_admin', id=m.preseed_id) }}">{{ m.preseed.description }} ({{ m.preseed.filename }}){% endif %}</a></dd>
        <dt>Netboot enabled?</dt>
        <dd>
           {% if m.netboot_enabled %}
             <input type="checkbox" readonly disabled checked/>
           {% else %}
             <input type="checkbox" readonly disabled/>
           {% endif %}
        </dd>
      </dl>

      <fieldset>
        <p> <b>Assigned to:</b>
           {% if m.assignment %}
           {{ m.user.username }} </p>
        <p> <b>Reason:</b> {{ m.assignment.reason }} </p>
        <p> <b>Since:</b> {{ m.assignment.start_date.strftime("%Y-%m-%d") }} </p>
          {% else %}
           No one</p>
          {% endif %}
        </dl>
      </fieldset>
      {% if user.admin or (m.assignment and (user.id==m.user.id)) %}
      <div class="row">
        <div class="small-3 small columns">
          <a class="button" data-reveal-id="edit-modal" href="#">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </a>
          {%- if user.admin %}
            <a class='button alert' data-reveal-id='delete-modal' href='#'>
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
	  {% endif -%}
        </div>
        <div class="small-4 small columns">
          <a class="button secondary" href="{{url_for('.reboot_machine', id=m.id)}}">
              Reboot
          </a>
          <a class="button secondary" href="{{url_for('.pxe_reboot_machine', id=m.id)}}" alt="Reboot">
            PXE-boot</i>
          </a>
        </div>
        <div class="small-3 small columns end">
          <a class="button secondary" title="Force disconnect console" href="{{url_for('.reset_console', id=m.id)}}">
              <i class="fa fa-plug" aria-hidden="true"></i>
          </a>
          <a class="button secondary" title="Open console" href="{{url_for('.get_console', id=m.id)}}">
              <i class="fa fa-desktop" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div aria-hidden="true" class="reveal-modal small" data-reveal id="delete-modal" role="dialog">
        <h2> Confirm deletion</h2>
        <form action="{{ url_for('.delete_machine', id=m.id) }}" method="POST">
          <div class="row">
            <p>Are you sure you want to delete machine <b>{{ m.name }}</b> and all associated data?</p>
          </div>
          <div class="row">
            <input class="button alert" type="submit" value="Delete Machine"/>
          </div>
        </form>
      </div>
      {% endif %}
      <div aria-hidden="true" class="reveal-modal medium" data-reveal id="edit-modal" role="dialog">
        <h2> Edit Machine - {{ m.name }} </h2>
        <form action="{{ url_for('.edit_machine', id=m.id) }}" method="POST">
	{% if user.admin %}
        <div class="row">
          <div class="small-12 columns">
            <label>
              Name
              <input name="name" type="text" value="{{ m.name }}">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <label>
              MAC
              <input name="mac" type="text" value="{{ m.mac }}">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <label>
              BMC IP
              <select name="bmc_id" style="width: 100%;">
                <option value="">(None)</option>
                {% for bmc in bmcs %}
		  {% if bmc.id == m.bmc_id %}
		  <option value="{{ bmc.id }}" selected="selected">{{bmc.name}} - {{ bmc.ip }}</option>
		  {% else %}
		  <option value="{{ bmc.id }}">{{bmc.name}} - {{ bmc.ip }} - {{ bmc.bmc_type }}</option>
		  {% endif %}
                {% endfor %}
	      </select>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <label>
              BMC Info
	      <input name="bmc_info" value="{{ m.bmc_info if m.bmc_info }}" type="text">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <label>
              PDU
              <input name="pdu" value="{{ m.pdu if m.pdu }}" type="text">
            </label>
          </div>
        </div>
	<div class="row">
	  <div class="small-12 columns">
	    <label>PDU port
	      <input name="pdu_port" value="{{ m.pdu_port if m.pdu_port }}" type="text">
	    </label>
	  </div>
	</div>
        <div class="row">
          <div class="small-12 columns">
            <label>
              Serial device
              <input name="serial" value="{{ m.serial if m.serial }}" type="text">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <label>
              Serial port
              <input name="serial_port" value="{{ m.serial_port if m.serial_port }}"  type="text">
            </label>
          </div>
        </div>
	{% endif %}
        <div class="row">
          <div class="small-12 columns">
            <label>
              Kernel
              <select name="kernel_id" style="width: 100%;">
                <option value="">(None)</option>
                {% for image in images|selectattr("file_type", "equalto", "Kernel") %}
                  {% if image.id == m.kernel_id or image.id == m.initrd_id %}
                  <option value="{{ image.id }}" selected="selected">{{ image.description }} ({{ image.filename }}){% if image.known_good %} (blessed){% endif %}</option>
                  {% else %}
                  <option value="{{ image.id }}">{{ image.description }} - {{ image.filename }}{% if image.known_good %} (blessed){% endif %}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <label>
              Kernel cmdline
              <input name="kernel_opts" value="{{ m.kernel_opts  if m.kernel_opts }}" type="text">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <label>
              Initrd
              <select name="initrd_id" style="width: 100%;">
                <option value="">(None)</option>
                {% for image in images|selectattr("file_type", "equalto", "Initrd") %}
                  {% if image.id == m.kernel_id or image.id == m.initrd_id %}
                  <option value="{{ image.id }}" selected="selected">{{ image.description }} ({{ image.filename }}){% if image.known_good %} (blessed){% endif %}</option>
                  {% else %}
                  <option value="{{ image.id }}">{{ image.description }} - {{ image.filename }}{% if image.known_good %} (blessed){% endif %}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <label>
              Preseed
              <select name="preseed_id" style="width: 100%;">
                <option value="">(None)</option>
                {%- for preseed in preseeds %}
                <option value="{{ preseed.id }}"
                  {% if preseed.id == m.preseed_id %} selected="selected" {% endif %}
                    >{{ preseed.description}} ({{ preseed.filename }}) {% if preseed.known_good %} (known good){% endif %}</option>
                {% endfor -%}
              </select>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <label>
              Netboot Enabled
              <select name="netboot_enabled">
              {%- if m.netboot_enabled %}
                <option value="1" selected="selected">Yes</option>
                <option value="0">No</option>
              {% else %}
                <option value="1">Yes</option>
                <option value="0" selected="selected">No</option>
              {% endif -%}
              </select>
            </label>
          </div>
					{% if user.admin %}
          <fieldset>
            <legend> Assign to </legend>
            <div class="row">
              <div class="small-12 columns">
                <label>
                  Assign to
                  <select name="assignee" style="width: 100%;">
                    <option value="">(None)</option>
                      {%- for user in users %}
                        <option value="{{ user.id }}"
                          {% if m.user %} {% if user.id == m.user.id %} selected="selected" {% endif %} {% endif %}
                          >{{ user.username}}</option>
                      {% endfor -%}
                    </select>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <label>
                  Reason
		  <input name="reason" value="{{ m.assignment.reason if m.assignment }}" style="width: 100%;">
                </label>
              </div>
            </div>
            </fieldset>
						{% endif %}
        <div class="row">
          <div class="small-12 columns">
              <center>
            <input class="button" name="button" value="Save Machine" type="submit">
            </center>
          </div>
        </div>
      </form>
      </div>
        </div>
      </div>
 </section>
 <script>
   $("select[name='bmc_id']").select2({theme: "foundation"});
   $("select[name='kernel_id']").select2({theme: "foundation"});
   $("select[name='initrd_id']").select2({theme: "foundation"});
   $("select[name='assignee']").select2({theme: "foundation"});
   $("select[name='preseed_id']").select2({theme: "foundation"});
 </script>
  {% endwith %}
{% endblock %}
