{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
  {% with bmcactive="active" %}
    {% if user.admin %}
      {% include "admin-menu.html" %}
    {% else %}
      {% include "user-menu.html" %}
    {% endif %}

  <section id="content">
    {% include "flash.html" %}
    <div class="row">
    <div class="small-12 small-centered columns">
      <h2> BMCs </h2>
      <table id="bmc-list">
        <thead aligned="center">
          <tr>
	    <th>Name</th>
            <th>IP</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          {% for bmc in bmcs %}
            <tr>
	      <td>
                <a href="{{ url_for('.bmc_admin', id=bmc.id) }}">{{ bmc.name }}</a>
	      </td>
              <td>
		<a href="{{ url_for('.bmc_admin', id=bmc.id) }}">{{ bmc.ip }}</a>
              </td>
              <td>
                {{ bmc.bmc_type }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="button" data-reveal-id="new-modal" href=""#"">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      <div aria-hidden="true" class="reveal-modal small" data-reveal id="new-modal" role="dialog">
        <h2> New BMC </h2>
        <form action="{{ url_for('.create_bmc_admin') }}" method="POST">
        {{ render_field(form.bmc_type) }}
        {{ render_field(form.name) }}
        {{ render_field(form.ip) }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_field(form.privilege_level) }}
        <div class="row">
          <div class="small-12 columns">
              <center>
            <input class="button" name="button" value="Save BMC" type="submit">
            </center>
          </div>
        </div>
      </form>
      </div>
        </div>
    </div>
    <script>
      $("#bmc-list").dataTable({
        "lengthMenu": [[25, 50, -1],[25, 50, "All"]]
      });
    </script>
  </section>
  {% endwith %}
{% endblock %}
