{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
  {% with bmcactive="active" %}
    {% if user.admin %}
      {% include "admin-menu.html" %}
    {% else %}
      {% include "user-menu.html" %}
    {% endif %}

  <section id='content'>
    {% include "flash.html" %}
    {%- if user.admin %}
    <div class="row">
      <div class="small-12 small-centered columns">
        <nav class="breadcrumbs">
          <a href="{{ url_for('.get_bmc_admin') }}">BMCs</a>
          <a href="{{ url_for('.bmc_admin', id=bmc.id) }}">{{ bmc.ip }}</a>
        </nav>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="small-12 small-centered columns">
        <h2>{% if user.admin %} Manage {% endif %} {{ bmc.ip }}</h2>
        <dl>
          <dt>Name</dt>
          <dd>{{ bmc.name }}</dd>
          <dt>IP</dt>
          <dd><a href="https://{{ bmc.ip }}"> {{ bmc.ip }}</a></dd>
          <dt>Username</dt>
          <dd>{{ bmc.username }}</dd>
          <dt>Password</dt>
          <dd>{{ bmc.password }}</dd>
          <dt>Privilege Level</dt>
          <dd>{{ bmc.privilege_level }}</dd>
          <dt>BMC Type</dt>
          <dd>{{ bmc.bmc_type }}</dd>
        </dl>

      {% if user.admin %}
        <a class="button" data-reveal-id="edit-modal" href=""#"">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </a>
        <a class='button alert' data-reveal-id='delete-modal' href='#'>
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
        <div aria-hidden="true" class="reveal-modal small" data-reveal id="delete-modal" role="dialog">
          <h2> Confirm deletion</h2>
          <form action="{{ url_for('.delete_bmc', id=bmc.id) }}" method="POST">
            <div class="row">
              <p>Are you sure you want to delete BMC <b>{{ bmc.ip }}</b> ? </p>
            </div>
            <div class="row">
              <input class="button alert" type="submit" value="Delete BMC"/>
            </div>
          </form>
        </div>
        <div aria-hidden="true" class="reveal-modal small" data-reveal id="edit-modal" role="dialog">
          <h2> Edit BMC </h2>
          <form action="{{ url_for('.edit_bmc', id=bmc.id) }}" method="POST">
          {{ render_field(form.bmc_type) }}
          {{ render_field(form.name) }}
          {{ render_field(form.ip) }}
          {{ render_field(form.username) }}
          {{ render_field(form.password) }}
          {{ render_field(form.privilege_level) }}
          <div class="row">
            <div class="small-12 columns">
              <center>
                <input class="button" name="button" value="Save BMC" type="submit">
              </center>
            </div>
          </div>
        </form>
      {% endif %}
      </div>
    </div>
 </section>
  {% endwith %}
{% endblock %}
