  <meta charset="utf-8">
  <title>{{ banner_name }} - mr-provisioner</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('.static', filename='assets/css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='assets/css/foundation.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='assets/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='assets/css/select2.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='assets/css/select2-foundation5.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='assets/css/datatables.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='assets/css/dataTables.fontAwesome.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='assets/css/style.css') }}">

  <script src="{{ url_for('.static', filename='assets/js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('.static', filename='assets/js/vendor/datatables.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='assets/js/vendor/select2.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='assets/js/foundation.min.js') }}"></script>
