[Unit]
Description=tftp-http-proxy for mr-provisioner
Requires=network-online.target
After=network-online.target

[Service]
User=nobody
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/tftp-http-proxy \
	-http-base-url "http://localhost:5000/tftp/"

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
