*.pyc
*.swp
*.swo
*.swn
*.tox

*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
develop-eggs/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

/logs*
/tftp*
