flask_sqlalchemy>=0.7
Flask==0.12
Jinja2==2.8
PyYAML==3.11
SQLAlchemy==1.0.11
Werkzeug==0.11.3
argparse==1.2.1
tornado==4.4.2
waitress==1.0.2
iso8601==0.1.11
flask-cors==3.0.2
simplejson==3.8.1
schema==0.6.5
passlib==1.7.1
flask-wtf==0.14.2
Flask-Migrate==2.0.3
psycopg2==2.7.1
