{% extends "layout.html" %}
{% block body %}
{% include "plain-menu.html" %}
<section id="content">
  {% include "flash.html" %}
  <div class="row">
    <div class="small-4 small-centered columns">
      <fieldset>
        <legend> Login </legend>
	<form action="{{ url_for('.login_post') }}" method="POST">
          <input type="text" placeholder="Enter username" name="user" required/>
          <input type="password" placeholder="Enter password" name="pass" required/>
          <input class="button small" type="submit" value="Login"/>
        </form>
      </fieldset>
    </div>
  </div>
</section>
{% endblock %}
