set default="linux"
set timeout=3

menuentry "linux" {
	linux (tftp)/{{machine.kernel.filename}} {{machine.kernel_opts_all(config)}}
{% if machine.initrd.filename %}
	initrd (tftp)/{{machine.initrd.filename}}
{% endif %}
}
