default linux
prompt 0
timeout 1
label linux
	kernel {{machine.kernel.filename}}
	ipappend 2
	append {% if machine.initrd.filename %}initrd={{machine.initrd.filename}}{% endif %} {{machine.kernel_opts_all(config)}}
